@import "./style.css";
main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

main form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    background-color: #fff;
    border-radius: 1rem;
}

main form .logo {
    text-align: center;
}

main form label {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
}

main form span {
    display: flex;
    align-items: center;
    width: 100%;
    color: #a19d9d;
    border-bottom: 2px solid #d9d9d9;
}

main form input {
    width: 100%;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: 400;
    border: none;
    outline: none;
}

main form input:focus-visible {
    border-color: red !important;
}

main form a {
    text-align: right;
    color: #000;
}

main form button {
    cursor: pointer;
    margin-inline: auto;
    width: 15rem;
    height: 4rem;
    font-size: 1.2rem;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    border-radius: 3rem;
    color: #fff;
    text-transform: uppercase;
    background: #007da1;
    outline: none;
}

main form div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 480px) {
    main {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        background: white;
    }
}